@import './mixins';

$header-height: 40px;
$screen-height: 74px;

$pc-calc-width: 362px;
$pc-calc-height: 444px;

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.1);
    left: -362px;
    top: 100%;
  }
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #b0b0b0;
  overflow-y: hidden;
}

article {
  position: absolute;
  &.activating {
    &:nth-child(1) {
      animation-name: stretch;
      animation-duration: .9s;
      animation-timing-function: ease-out;
      animation-delay: 0;
    }
  }
  &:nth-child(1) {
    @include mobile {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @include desktop {
      left: calc((100% - #{$pc-calc-width}) / 2);
      top: calc((100% - #{$pc-calc-height}) / 2);
      // transform: translate(-50%, -50%);
    };
    &.activating {
      // transform: translate(0, 0);
    }
  }
  &:nth-child(2) {
    display: none;
    bottom: 0;
  }
  & > main {
    @include mobile {
      height: 100%;
      min-height: 460px
    }
    @include desktop {
      width: $pc-calc-width;
      padding-bottom: 15px;
    }
    @include gradientSet(#333333, #1F1F1F);
    width: 100%;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #888888;
    header {
      height: $header-height;
      section {
        position: absolute;
        margin: 12px 0 0 10px;
        button {
          width: 15px;
          height: 15px;
          margin-right: 6px;
          border-radius: 15px;
          border: 1px solid #2E2F2D;
          vertical-align: top;
          &:focus {
            outline: 0;
          }
          &:hover {
            cursor: pointer;
          }
          &:nth-child(1) {
            @include gradientSet(#EF7E80, #E86E71, #F7484A);
            position: relative;
            background-color: #FC625D;
            &:active {
              @include gradientSet(#7F2929, #EF7E80, #F7484A);
            }
            &:hover:after {
              content: 'X';
              position: absolute;
              top: 0;
              left: 3px;
              font-size: 10px;
            }
          }
          &:nth-child(2) {
            @include gradientSet(#F0D09C, #FAD595, #F9C977);
            position: relative;
            background-color: #FDBC40;
            &:active {
              @include gradientSet(#927C59, #F0D09C, #F9C977);
            }
            &:hover:after {
              content: '-';
              position: absolute;
              top: -3px;
              left: 3px;
              font-size: 14px;
            }
          }
          &:nth-child(3) {
            @include gradientSet(#B2D896, #AFDD8D, #9CD570);
            position: relative;
            background-color: #34C749;
            &:active {
              @include gradientSet(#7CB054, #B2D896, #9CD570);
            }
            &:hover:after {
              content: '+';
              position: absolute;
              top: -3px;
              left: 2px;
              font-size: 14px;
            }
          }
        }
      }
      & > div {
        padding-top: 12px;
        text-align: center;
      }
    }
    & > div {
      @include gradientSet(#393939, #343434);
      background-color: #343434;
      height: $screen-height;
      margin: 0 10px;
      padding: 15px;
      border: 1px solid #111111;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 40px;
      word-wrap: break-word;
      overflow-y: scroll;
      span {
        display: inline-block;
        width: 100%;
        max-height: 95px;
        overflow: hidden;
        text-align: right;
      }
    }
    table {
      @include mobile {
        @include calc(height, '100% - #{$header-height} - #{$screen-height}');
      }
      width: 100%;
      text-align: center;
      border-spacing: 10px;
      tr {
        td {
          @include gradientSet(#373738, #2E2E2E);
          background-color: #2F3030;
          width: 75px;
          padding: 10px;
          border: 1px solid #1A1A1A;
          border-radius: 5px;
          font-size: 24px;
          font-weight: 100;
          &:hover {
            cursor: pointer;
          }
          &:active {
            @include gradientSet(#1F1F1F, #353535, #333333);
            background-color: #272727;
            cursor: pointer;
          }
        }
        &:nth-child(4) {
          td:nth-child(4) {
            vertical-align: top;
            padding-top: 24px;
          }
        }
      }
    }
  }
  & > div {
    width: 68px;
    height: 40px;
    padding: 10px;
    background-color: #323232;
    border-radius: 3px;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
    }
  }
}
