$boundary-width: 600px;
$pc-calc-width: 362px;

@mixin mobile {
  @media screen and (max-width: #{$boundary-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$boundary-width + 1px}) {
    @content;
  }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin gradientSet ($top, $bottom, $mid: null) {
  @if ($mid) {
    background: -webkit-linear-gradient(bottom, $bottom, $mid, $top);
    background: -o-linear-gradient(bottom, $bottom, $mid, $top);
    background: -moz-linear-gradient(bottom, $bottom, $mid, $top);
    background: linear-gradient(bottom, $bottom, $mid, $top);
  } @else {
    background: -webkit-linear-gradient(bottom, $bottom, $top);
    background: -o-linear-gradient(bottom, $bottom, $top);
    background: -moz-linear-gradient(bottom, $bottom, $top);
    background: linear-gradient(bottom, $bottom, $top);
  }
}
